@import "../app/theme.scss";
@import "../app/media.scss";

@mixin input {
  background: $white;
  border: none;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba($black, 0.15);
  font-weight: bold;
  margin-left: 10px;
  min-width: auto;
  padding: 5px 10px;
}

.nameInput {
  @include input;
  font-size: 16px;
  max-width: 220px;
}

.statusInput {
  @include input;
  font-size: 13px;
  max-width: 100px;
}

.orientationInput {
  @include input;
  font-size: 13px;
  max-width: 100px;
}

.layoutInput {
  @include input;
  font-size: 13px;
  max-width: 100px;
}

.left {
  div {
    margin: 10px 0;
  }
}

.right {
  justify-self: end;
  text-align: right;
}

.topActions {
  margin-bottom: 25px;
}

.bottomActions {
  margin-top: 25px;
}

.desc {
  margin: 10px 0;
}

.config {
  background: $white;
  box-shadow: 0 0 16px rgba($black, 0.15);
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 30px;
}

.button {
  margin: 5px;
}

.layout {
  margin-bottom: 30px;
  padding-top: 56.25%; // 16:9 ratio
  position: relative;
}

.title {
  font-size: 26px;
  font-weight: normal;
  margin: 0 0 60px 0;

  @include media(md) {
    margin-bottom: 15px;
  }
}

.asideContentBtn {
  align-items: center;
  background: $white;
  color: $gray6A;
  flex-direction: column;
  font-size: 16px;
  height: 180px;
  justify-content: center;
  transition-duration: 150ms;
  transition-property: color, background;

  strong {
    color: $black;
    font-size: 21px;
    transition-duration: 150ms;
    transition-property: color;
  }

  svg {
    fill: $green;
    height: 25px;
    width: 25px;
  }

  &:hover {
    background: $gray6A;
    color: $white;

    strong {
      color: $white;
    }
  }
}

.asideHome {
  background: $grayE8;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.asideFile {
  text-align: center;
}

.asideContent {
  padding: 60px 20px 20px 20px;
}

.asideHeader {
  align-items: center;
  background: $gray6A;
  display: grid;
  grid-auto-flow: column;
  height: 50px;
  justify-items: stretch;
  position: relative;

  &::before {
    background: $gray43;
    content: "";
    height: 100%;
    position: absolute;
    right: 100%;
    transform: skewY(30deg);
    transform-origin: bottom left;
    width: 20px;
  }

  &::after {
    background: $gray6A;
    content: "";
    height: 100%;
    position: absolute;
    right: 100%;
    width: 20px;
  }
}

.asideHeaderBtn {
  align-items: center;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  display: flex;
  height: 100%;
  justify-content: center;
  transition-duration: 150ms;
  transition-property: background, border;

  &:hover {
    background: lighten($gray6A, 5%);
  }

  &.active {
    background: lighten($gray6A, 5%);
    border-bottom: 4px solid $yellow;
  }

  svg {
    height: 25px;
    width: auto;
  }
}

.aside {
  background: $white;
  box-shadow: 0 0 16px rgba($black, 0.15);
  position: relative;

  &::before {
    border-bottom: 14px solid transparent;
    border-right: 14px solid $white;
    border-top: 14px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    right: 100%;
    top: calc(50% - 64px);
    width: 0;
  }
}

.dragArrow {
  align-self: center;
  fill: $black;
  height: 20px;
  margin-bottom: 100px;
  transform: rotateZ(90deg);
  width: 20px;
}

.dragMsg {
  align-self: center;
  font-size: 16px;
  font-weight: 200;
  margin: 0 20px 0 0;
  margin-bottom: 100px;
  text-align: center;
}

.content {
  padding: 40px 0 40px 50px;

  @include media(md) {
    padding: 15px;
  }
}

.container {
  display: grid;
  grid-template-columns: auto 20px 90px 400px;
  height: 100%;
}
