@import "../app/theme.scss";
@import "../app/media.scss";

.container {
  display: grid;
  grid-row-gap: 50px;
  grid-template-columns: auto 20px 90px 400px;
  grid-template-rows: repeat(2, min-content);
  height: 100%;

  @include media(lg) {
    grid-gap: 15px;
    grid-template-columns: auto 200px;
  }

  @include media(md) {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: repeat(3, min-content);
    height: auto;
    padding: 15px;
  }
}

.title {
  font-size: 26px;
  font-weight: normal;
  margin: 40px 0 60px 50px;

  @include media(lg) {
    margin: 15px 0 15px 15px;
  }

  @include media(md) {
    margin: 0 0 15px 0;
  }
}

.layout {
  margin-left: 50px;
  padding-top: 56.25%; // 16:9 ratio
  position: relative;

  @include media(lg) {
    margin-left: 15px;
  }

  @include media(md) {
    margin: 0;
  }
}

.config {
  background: $white;
  box-shadow: 0 0 16px rgba($black, 0.15);
  display: grid;
  grid-column: 1;
  grid-column-gap: 30px;
  grid-row: 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin: 0 0 50px 50px;
  padding: 30px;

  @include media(lg) {
    margin: 0 0 15px 15px;
  }

  @include media(md) {
    grid-row: 3;
    margin: 0;
  }
}

.dragArrow {
  align-self: center;
  fill: $black;
  grid-column: 2;
  grid-row: 1 / span 2;
  height: 20px;
  margin-bottom: 100px;
  transform: rotateZ(90deg);
  width: 20px;

  @include media(lg) {
    display: none;
  }
}

.dragMsg {
  align-self: center;
  font-size: 16px;
  font-weight: 200;
  grid-column: 3;
  grid-row: 1 / span 2;
  margin: 0 20px 0 0;
  margin-bottom: 100px;
  text-align: center;

  @include media(lg) {
    display: none;
  }
}

.aside {
  background: $white;
  bottom: 0;
  box-shadow: 0 0 16px rgba($black, 0.15);
  grid-column: 4;
  grid-row: 1 / span 2;
  height: 100%;
  position: fixed;
  right: 0;
  top: 50px;
  width: 400px;

  &::before {
    border-bottom: 14px solid transparent;
    border-right: 14px solid $white;
    border-top: 14px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    right: 100%;
    top: calc(50% - 64px);
    width: 0;
  }

  @include media(lg) {
    grid-column: 2;
    width: 200px;
  }

  @include media(md) {
    grid-column: 1;
    grid-row: 2;
    margin: 0;
    position: relative;
    top: 0;
    width: auto;

    &::before {
      display: none;
    }
  }
}

@mixin input {
  background: $white;
  border: none;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba($black, 0.15);
  font-weight: bold;
  margin-left: 10px;
  min-width: auto;
  padding: 5px 10px;
}

.nameInput {
  @include input;
  font-size: 16px;
  max-width: 220px;
}

.statusInput {
  @include input;
  font-size: 13px;
  max-width: 100px;
}

.orientationInput {
  @include input;
  font-size: 13px;
  max-width: 100px;
}

.layoutInput {
  @include input;
  font-size: 13px;
  max-width: 100px;
}

.left {
  div {
    margin: 10px 0;
  }
}

.right {
  justify-self: end;
  text-align: right;
}

.topActions {
  margin-bottom: 25px;
}

.bottomActions {
  margin-top: 25px;
}

.desc {
  margin: 10px 0;
}

.button {
  margin: 5px;
}

.asideContentBtn {
  align-items: center;
  background: $white;
  color: $gray6A;
  flex-direction: column;
  font-size: 16px;
  height: 180px;
  justify-content: center;
  transition-duration: 150ms;
  transition-property: color, background;

  strong {
    color: $black;
    font-size: 21px;
    transition-duration: 150ms;
    transition-property: color;
  }

  svg {
    fill: $green;
    height: 25px;
    width: 25px;
  }

  &:hover {
    background: $gray6A;
    color: $white;

    strong {
      color: $white;
    }
  }

  @include media(lg) {
    height: 120px;
  }
}

.asideHome {
  background: $grayE8;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));

  @include media(lg) {
    grid-gap: 1px;
    grid-template-columns: minmax(0, 1fr);
  }
}

.asideFile {
  text-align: center;
}

.asideContent {
  padding: 60px 20px 20px 20px;

  @include media(lg) {
    padding: 10px;
  }
}

.asideHeader {
  align-items: center;
  background: $gray6A;
  display: grid;
  grid-auto-flow: column;
  height: 50px;
  justify-items: stretch;
  position: relative;

  &::before {
    background: $gray43;
    content: "";
    height: 100%;
    position: absolute;
    right: 100%;
    transform: skewY(30deg);
    transform-origin: bottom left;
    width: 20px;
  }

  &::after {
    background: $gray6A;
    content: "";
    height: 100%;
    position: absolute;
    right: 100%;
    width: 20px;
  }

  @include media(md) {
    box-shadow: 0 0 16px rgba($black, 0.15);

    &::before,
    &::after {
      display: none;
    }
  }
}

.asideHeaderBtn {
  align-items: center;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  display: flex;
  height: 100%;
  justify-content: center;
  transition-duration: 150ms;
  transition-property: background, border;

  &:hover {
    background: lighten($gray6A, 5%);
  }

  &.active {
    background: lighten($gray6A, 5%);
    border-bottom: 4px solid $yellow;
  }

  svg {
    height: 25px;
    width: auto;
  }

  @include media(lg) {
    svg {
      height: 20px;
    }
  }
}
