@import "../app/theme.scss";
@import "../app/media.scss";

.deleteView {
  align-self: start;
  background: $red;
  display: flex;
  height: 28px;
  justify-self: end;
  opacity: 0;
  padding: 6px;
  transition-duration: 150ms;
  transition-property: opacity;
  width: 28px;

  svg {
    fill: $white;
    width: 100%;
  }
}

.vMagneticRuler {
  border-left: 2px dashed lighten($gray43, 10%);
  display: none;
  height: 100%;
  left: 50%;
  margin-left: -1px;
  position: absolute;
  width: 0;
}

.hMagneticRuler {
  border-top: 2px dashed lighten($gray43, 10%);
  display: none;
  height: 0;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.viewContainer {
  height: 100%;
  position: relative;
  width: 100%;
}

.content {
  background: $gray43;
  color: $white;
  height: 100%;
  width: 100%;

  > .viewContainer > .view > .deleteView {
    display: none;
  }
}

@mixin handle {
  background: $blue4F;
  opacity: 0;
  transition: 150ms opacity;
  z-index: 1;
}

@mixin handleX {
  @include handle;
  align-self: center;
  cursor: col-resize;
  height: 40px;
  width: 7px;
}

@mixin handleY {
  @include handle;
  cursor: row-resize;
  height: 7px;
  justify-self: center;
  width: 40px;
}

.handleRight {
  @include handleX;
  justify-self: end;
}

.handleLeft {
  @include handleX;
  justify-self: start;
}

.handleTop {
  @include handleY;
  align-self: start;
}

.handleBottom {
  @include handleY;
  align-self: end;
}

@mixin view-hover {
  background: $gray43;
  transition: 150ms background;

  &:hover,
  &.active .view {
    background: lighten($gray43, 2%);

    > .handleTop,
    > .handleRight,
    > .handleBottom,
    > .handleLeft,
    > .deleteView {
      opacity: 1;
    }
  }

  &.active + .vMagneticRuler,
  &.active + .hMagneticRuler {
    display: inline-block;
  }
}

@mixin view {
  @include view-hover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  user-select: none;
}

.topView {
  @include view;
  border-bottom: 1px solid $black;

  > .viewContainer > .view > .handleBottomRight {
    display: inline-block;
  }
}

.rightView {
  @include view;
  border-left: 1px solid $black;
}

.bottomView {
  @include view;
  border-top: 1px solid $black;

  > .viewContainer > .view > .handleTopRight {
    display: inline-block;
  }
}

.leftView {
  @include view;
  border-right: 1px solid $black;
}

.view {
  @include view-hover;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  height: 100%;
  position: relative;
  width: 100%;

  > * {
    grid-column: 1;
    grid-row: 1;
  }
}

.container {
  background: black;
  height: 500px;
  padding: 10px;
  width: 100%;
}
