@import "../app/theme.scss";
@import "../app/media.scss";

.container {
  padding: 40px 50px;

  @include media(lg) {
    padding: 15px;
  }
}

.title {
  font-size: 26px;
  font-weight: normal;
  margin: 0 0 60px 0;

  @include media(lg) {
    margin-bottom: 15px;
  }
}

.content {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: minmax(0, 1fr) 275px;

  @include media(lg) {
    grid-auto-flow: row;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: max-content;
  }
}

.table {
  background: $white;
  box-shadow: 0 0 16px rgba($black, 0.15);
  height: 0;
  table-layout: fixed;
  width: 100%;
}

.selectHead,
.linkHead,
.statusHead,
.nameHead,
.layoutHead,
.actionsHead {
  background: $white;
  border-bottom: 1px solid $grayE8;
  color: $gray6A;
  font-size: 13px;
  font-weight: normal;
  padding: 20px 15px;
}

.selectHead {
  width: 50px;
}

.linkHead {
  width: 60px;
}

.statusHead {
  width: 85px;
}

.nameHead {
  text-align: left;
  width: auto;
}

.layoutHead {
  width: auto;
}

.actionsHead {
  width: 90px;
}

.emptyRow {
  color: rgba($gray9A, 0.4);
  font-size: 21px;
}

.emptyCol > div {
  color: rgba($gray9A, 0.4);
  font-size: 21px;
  margin: 60px auto;
  max-width: 250px;
  text-align: center;
}

.aside {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  grid-row-gap: 30px;
}

.connectScreen {
  @include card-base;
  align-items: center;
  display: grid;
  font-size: 18px;
  grid: max-content / repeat(2, minmax(50px, 1fr));
  padding: 20px 10px;
  text-align: center;

  img {
    max-height: 100px;
  }

  strong {
    font-size: 26px;
  }
}

.createGroup {
  @include card-base;
  background: $gray6A;
  color: $white;
  font-size: 16px;
  padding: 15px;

  img {
    height: 25px;
    margin-right: 20px;
    width: 25px;
  }
}

.dragPreview {
  background: $white;
  border: 5px solid $yellow;
  display: inline-block;
  font-size: 15px;
  height: 150px;
  left: 100vw;
  padding: 20px;
  position: fixed;
  text-align: center;
  width: 150px;

  img {
    margin-bottom: 10px;
  }
}

.legend {
  border-top: 1px solid $grayE8;
  color: $gray6A;
  font-size: 13px;
  padding: 10px 15px;

  div {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  svg {
    margin: -2px 10px 0 80px;
  }
}
