@import "../app/theme.scss";
@import "../app/media.scss";

.row {
  background: $gray6A;
  color: $white;
  cursor: pointer;
  min-height: 70px;
  transition-duration: 150ms;
  transition-property: background, color, fill;
  user-select: none;

  > * {
    padding: 10px 15px;
  }
}

.defaultRow {
  background: $grayE8;
  color: $gray6A;

  svg {
    fill: $gray6A;
  }
}

.draggedOver {
  background: $green;
  color: $white;

  svg {
    fill: $white;
  }
}

.selectCol,
.linkCol,
.statusCol,
.nameCol,
.layoutCol,
.actionsCol {
  border-bottom: 1px solid $grayE8;
  font-size: 13px;
  font-weight: normal;
  min-height: 70px;
  padding: 20px 15px;
  text-align: center;
}

.linkCol {
  font-size: 10px;
  padding: 20px 0;
}

.nameCol {
  font-size: 17px;
  text-align: left;
}

.actionsCol {
  div {
    display: flex;
    justify-content: space-between;
  }
}

.selectCol {
  svg {
    display: inherit;
    height: 30px;
    margin: 0 auto;
    transform: rotate(-90deg);
    transition: 150ms transform;
    width: 30px;

    &.open {
      transform: rotate(0);
    }
  }
}

.statusCol {
  svg {
    display: inherit;
    height: 30px;
    margin: 0 auto;
    width: 30px;
  }
}

.icon {
  fill: $white;
  width: 20px;
}
