@import "../app/theme.scss";
@import "../app/media.scss";

.container {
  padding: 40px 50px;

  @include media(md) {
    padding: 15px;
  }
}

.title {
  font-size: 26px;
  font-weight: normal;
  margin: 0 0 60px 0;
}

.content {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: minmax(0, 1fr) 275px;

  @include media(lg) {
    grid-auto-flow: row;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: max-content;
  }
}

.table {
  background: $white;
  box-shadow: 0 0 16px rgba($black, 0.15);
  width: 100%;
}

@mixin head {
  border-bottom: 1px solid rgba($gray51, 0.15);
  color: $gray6A;
  font-size: 13px;
  font-weight: normal;
  padding: 20px 15px;
  width: 50px;
}

.selectHead {
  @include head;
}

.statusHead {
  @include head;
}

.nameHead {
  @include head;
  text-align: left;
  width: auto;
}

.layoutHead {
  @include head;
  width: auto;
}

.settingsHead {
  @include head;
}

.deleteHead {
  @include head;
}

@mixin col {
  font-size: 13px;
  font-weight: normal;
  padding: 20px 15px;
  text-align: center;
  transition-duration: 250ms;
  transition-property: background;
}

.row:hover > * {
  background: $grayE8;
}

.emptyRow {
  color: rgba($gray9A, 0.4);
  font-size: 21px;
}

.emptyCol > div {
  color: rgba($gray9A, 0.4);
  font-size: 21px;
  margin: 60px auto;
  max-width: 250px;
  text-align: center;
}

.selectCol {
  @include col;
}

.statusCol {
  @include col;
}

.nameCol {
  @include col;
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  width: auto;
}

.layoutCol {
  @include col;
  width: auto;
}

.settingsCol {
  @include col;
}

.deleteCol {
  @include col;
}

@mixin status {
  height: 15px;
  width: 15px;
}

.connected {
  @include status;
  fill: $green;
}

.disconnected {
  @include status;
  fill: $red;
}

.aside {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  grid-row-gap: 30px;
}

.connectScreen {
  @include card-base;
  align-items: center;
  display: grid;
  font-size: 18px;
  grid: max-content / repeat(2, minmax(50px, 1fr));
  padding: 20px 10px;
  text-align: center;

  img {
    max-height: 100px;
  }

  strong {
    font-size: 26px;
  }
}

.createGroup {
  @include card-base;
  background: $gray6A;
  color: $white;
  padding: 15px;
}
