@import "../app/theme.scss";
@import "../app/media.scss";

@mixin color($bg, $fg) {
  background: $bg;
  color: $fg;
  transition-duration: 250ms;
  transition-property: background, opacity;

  &:hover,
  &:focus {
    background: darken($bg, 5%);
  }

  svg {
    fill: $fg;
  }
}

.green {
  @include color($green, $white);
}

.gray {
  @include color($gray6A, $white);
}

.red {
  @include color($red, $white);
}

.transparent {
  @include color($white, $gray6A);
}

.button {
  border: none;
  border-radius: 25px;
  display: inline-flex;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 20px;

  &[disabled] {
    opacity: 0.25;
  }

  img,
  svg {
    height: 20px;
    margin-right: 10px;
    width: 20px;
  }
}

.md {
  font-size: 16px;
  padding: 8px 20px;
}

.sm {
  font-size: 13px;
  padding: 5px 12px;
}
